@use '../base/typography';

/*colores*/

$black-color:#020000;
$grey-color:#181313;
$cream-color:#eae7e0;
$coral-color:#ff7f50;
$red-color:#b91515;
$blue-color:#0704d1;
$violet-color:#7609a8;
$braun-color:#804000;
$white-color:#ffffff;
$aqua-color:#28dddd;

/*Fuentes*/

$font-secondary:'Saira', sans-serif;
$font-primary:'Syne',sans-serif;